{%load static%}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
        <div class="sidebar-brand-text mx-3">
            <img src="{%static 'img/ITC.png'%}" width="150px">
            <sup style="color: rgb(255, 251, 0);"></sup>
        </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{%url 'dashboard:dashboard'%}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Menu
    </div>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="{%url 'dashboard:anggota'%}">
            <i class="fas fa-fw fa-user"></i>
            <span>Anggota</span></a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{%url 'dashboard:data_anggota'%}">
            <i class="fas fa-fw fa-user"></i>
            <span>Data Anggota</span></a>  
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Bidang</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Pilih Bidang:</h6>
                {%for bid in bid_nav%}
                    <a class="collapse-item" href="{%url 'dashboard:pengurus' bid.id%}">{{bid.nama_bidang}}</a>
                {%endfor%}
                <hr class="sidebar-divider">                
                    <a class="collapse-item bg-gradient-primary text-white text-center" href="{%url 'dashboard:bidang_list'%}">SETTINGS</a>
                
            </div>
        </div>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="{%url 'dashboard:program_calendar'%}">
            <i class="fas fa-fw fa-table"></i>
            <span>Program</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{%url 'dashboard:laporan'%}">
            <i class="fas fa-fw fa-folder"></i>
            <span>Laporan</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{%url 'dashboard:chat'%}">
            <i class="fas fa-fw fa-comment"></i>
            <span>Chat Boot</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{%url 'dashboard:notif'%}">
            <i class="fas fa-fw fa-bell"></i>
            <span>Notifikasi</span></a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>